{% extends "ask/two_column.html" %}
{% block first_column %}
          <div class="TP-ans">
            {% include "ask/question.html" %}
          </div>
          {% if answers %}
            {% for item in answers%}
                {% include "ask/one_answer.html" %} 
            {% endfor %}
          {% else %}
            По данному вопросу пока нет ответов
          {% endif %}
          <div class="TP-write-answer">
            <form role="form">
              <textarea class="form-control" rows="3">Оставьте свой ответ на вопрос</textarea>
              <button type="submit" class="btn btn-default">Ответить</button>
            </form>
          </div>
{% endblock %} 