{% extends "ask/two_column.html" %}
{% block first_column %}
          <div class="TP-page-header"><h3> Новый вопрос </h3></div>
          {% for e in form.non_field_errors %}
            <div class="alert alert-danger">{{ e }}</div>
          {% endfor %}
          <form class="TP-registration" role="form" method="post" action="{% url 'ask' %}" >
            {% for field in form %}
              <div class="form-group {% if field.errors %} has-error {% else %} has-success  {% endif %}">
                <label class="control-label"> {{field.errors}} </label>
                <label class="col-sm-2">{{ field.label }} </label>
                <div class="col-sm-10">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
            {% csrf_token %}
          <button type="submit" class="btn btn-default">Спросить!</button>
        </form>
{% endblock %} 