<div class="TP-answer TP-answer-page">
            <div class="row">
              <div class="col-md-2">
                <div class="TP-left-qestion">
                  <img src="http://placekitten.com/g/90/90/" class="img-rounded">
                  <div class="TP-like">
                    <div class="TP-likes">
                      <a href="#"> + </a>
                    </div>
                    <div class="TP-likes">
                      <b> 207 </b>
                    </div>
                    <div class="TP-likes">
                      <a href="#"> - </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="TP-question TP-answer-block">
                  <p> {{ item.text }} </p> 
                  <div class="TP-under">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        {{ item.id }} Первая опция&mdash;выбирайте его, если вам нравится этот пункт
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>