<div class="TP-answer TP-answer-page">
            <div class="row">
              <div class="col-md-2">
                <div class="TP-left-qestion">
                  <img src="{{item.author.avatar.url}}" class="img-rounded">
                  {% with likes_answers.pop as likes %}
                  <div class="TP-like">
                    <div class="TP-likes">
                      {% if likes %}  
                        <span id="{{ item.id }}" class="like__button answer_like {{ item.id }}">+</span>
                      {% endif %}
                    </div>
                    <b>
                    <div class="TP-likes {{ item.id }}">
                       {{ item.rating }} 
                    </div>
                    </b>
                    <div class="TP-likes">
                      {% if likes %} 
                        <span id="{{ item.id }}" class="like__button answer_dislike {{ item.id }}">-</span>
                      {% endif %}
                    </div>
                  </div>
                  {% endwith %}
                </div>
              </div>
              <div class="col-md-10">
                <div class="TP-question TP-answer-block">
                  <p>  {{ item.text_ans }} </p> 
                  {% if it_is_author %}
                  <div class="TP-under">
                    <div class="checkbox">
                      <label>
                        <input id="{{ item.id }}" type="checkbox" class="ckeck_ans" 
                        {% if item.correct %}
                        checked="checked"
                        {% endif %}
                        >
                        Чекните, если ответ понравился
                      </label>
                    </div>
                  </div>
                  {% else %}
                  <div class="TP-under">
                    <div class="checkbox">
                      <label>
                        {% if item.correct %}
                          <span class="glyphicon glyphicon-thumbs-up"> </span> Ответ понравился автору
                        {% endif %}
                      </label>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>