<div class="TP-answer TP-answer-page">
            <div class="row">
              <div class="col-md-2">
                <div class="TP-left-qestion">
                  <img src="{{item.author.avatar}}" class="img-rounded">
                  <div class="TP-like">
                    <div class="TP-likes">
                      <a href="#"> + </a>
                    </div>
                    <div class="TP-likes">
                      <b> {{ item.rating }} </b>
                    </div>
                    <div class="TP-likes">
                      <a href="#"> - </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="TP-question TP-answer-block">
                  <p> {{ item.text_ans }} </p> 
                  <div class="TP-under">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Чекните, если ответ понравился
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>