          <div class="TP-right-block TP-first">
              <span> Теги </span>
              <a href="#" class="tags h4"> perl </a>
              <a href="#" class="tags h5"> python </a>
              <a href="#" class="tags h6"> TechnoPark </a>
              <a href="#" class="tags h5"> MySQL </a>
              <a href="#" class="tags h4"> django </a>
              <a href="#" class="tags h6"> Mail.Ru </a>
              <a href="#" class="tags h5"> Voloshin </a>
              <a href="#" class="tags h4"> FireFox</a>
          </div>
          <div class="TP-right-block">
            <span> Лучшие пользователи </span>
            <p>
              <a href="#"> Voloshin </a>
              <a href="#"> Bender </a>
              <a href="#"> Spanch bob </a>
              <a href="#"> VVPutin  </a> 
              <a href="#"> Homosapience </a>
            </p>
          </div>