<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>AskYou :: Ask the qestion. Fast!!!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="row">
      <div class="container">
            <div class="col-md-3">
              <a class="navbar-brand TP-brand" href="#">AskYou</a>
            </div>
            <div class="col-md-6">
              <div class="TP-header">
                <input type="email" class="form-control"  placeholder="Можно что-нибудь найти..">
                <button type="button" class="btn btn-success">Спроси!</button>
                </div>
            </div>
            <div class="col-md-3">
              <div class="TP-header">
                <div class="TP-logout">
                  <img src="http://placekitten.com/g/40/40/" class="img-rounded">
                  <div class="TP-header-user">
                   <span> User Name </span>
                   <a href="#"> settings </a><a href="#"> log out </a> 
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <div class="TP-page-header"><h3> Все вопросы по тэгу: Bender </h3></div>
          <!-- Block with answer -->
          <div class="TP-answer">
            <div class="row">
              <div class="col-md-2">
                <div class="TP-left-qestion">
                  <img src="http://placekitten.com/g/90/90/" class="img-rounded">
                  <div class="TP-like">
                    <div class="TP-likes">
                      <a href="#"> + </a>
                    </div>
                    <div class="TP-likes">
                      <b> 207 </b>
                    </div>
                    <div class="TP-likes">
                      <a href="#"> - </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="TP-question">
                  <a href="#">Будет ли у нас свой лунапарк с блекжеком и .. ?</a>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur sem quis rutrum gravida. Pellentesque vel mi aliquet diam sodales gravida a quis massa. Duis bibendum magna ac sollicitudin condimentum. Nam nibh orci, cursus ut tortor ac, tincidunt feugiat odio. Phasellus suscipit accumsan mauris sed elementum. Nullam id arcu quis tellus bibendum blandit pretium id leo. Cras eu cursus urna. </p> 
                  <div class="TP-under">
                    <a href="#"> Ответы (3) </a>
                    <div class="TP-tags">
                      Теги: 
                      <a href="#" class="tags"> bender </a>
                      <a href="#" class="tags"> black-jack </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End block with answer -->
          <!-- Block with answer -->
          <div class="TP-answer">
            <div class="row">
              <div class="col-md-2">
                <div class="TP-left-qestion">
                  <img src="http://placekitten.com/g/90/90/" class="img-rounded">
                  <div class="TP-like">
                    <div class="TP-likes">
                      <a href="#"> + </a>
                    </div>
                    <div class="TP-likes">
                      <b> 207 </b>
                    </div>
                    <div class="TP-likes">
                      <a href="#"> - </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="TP-question">
                  <a href="#">Будет ли у нас свой лунапарк с блекжеком и .. ?</a>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur sem quis rutrum gravida. Pellentesque vel mi aliquet diam sodales gravida a quis massa. Duis bibendum magna ac sollicitudin condimentum. Nam nibh orci, cursus ut tortor ac, tincidunt feugiat odio. Phasellus suscipit accumsan mauris sed elementum. Nullam id arcu quis tellus bibendum blandit pretium id leo. Cras eu cursus urna. </p> 
                  <div class="TP-under">
                    <a href="#"> Ответы (3) </a>
                    <div class="TP-tags">
                      Теги: 
                      <a href="#" class="tags"> bender </a>
                      <a href="#" class="tags"> black-jack </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End block with answer -->
          <!-- Block with answer -->
          <div class="TP-answer">
            <div class="row">
              <div class="col-md-2">
                <div class="TP-left-qestion">
                  <img src="http://placekitten.com/g/90/90/" class="img-rounded">
                  <div class="TP-like">
                    <div class="TP-likes">
                      <a href="#"> + </a>
                    </div>
                    <div class="TP-likes">
                      <b> 207 </b>
                    </div>
                    <div class="TP-likes">
                      <a href="#"> - </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="TP-question">
                  <a href="#">Будет ли у нас свой лунапарк с блекжеком и .. ?</a>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur sem quis rutrum gravida. Pellentesque vel mi aliquet diam sodales gravida a quis massa. Duis bibendum magna ac sollicitudin condimentum. Nam nibh orci, cursus ut tortor ac, tincidunt feugiat odio. Phasellus suscipit accumsan mauris sed elementum. Nullam id arcu quis tellus bibendum blandit pretium id leo. Cras eu cursus urna. </p> 
                  <div class="TP-under">
                    <a href="#"> Ответы (3) </a>
                    <div class="TP-tags">
                      Теги: 
                      <a href="#" class="tags"> bender </a>
                      <a href="#" class="tags"> black-jack </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End block with answer -->
          <div class="col-md-12">
            <div class="TP-navigation">
                <a href="#" class="page">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <a href="#" class="page">4</a>
                <a href="#" class="page">..</a>
                <a href="#" class="page">53</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="TP-right-block TP-first">
              <span> Теги </span>
              <a href="#" class="tags h4"> perl </a>
              <a href="#" class="tags h5"> python </a>
              <a href="#" class="tags h6"> TechnoPark </a>
              <a href="#" class="tags h5"> MySQL </a>
              <a href="#" class="tags h4"> django </a>
              <a href="#" class="tags h6"> Mail.Ru </a>
              <a href="#" class="tags h5"> Voloshin </a>
              <a href="#" class="tags h4"> FireFox</a>
          </div>
          <div class="TP-right-block">
            <span> Лучшие пользователи </span>
            <p>
              <a href="#"> Voloshin </a>
              <a href="#"> Bender </a>
              <a href="#"> Spanch bob </a>
              <a href="#"> VVPutin  </a> 
              <a href="#"> Homosapience </a>
            </p>
          </div>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Технопарк 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>